/* ---------- Сброс стилей ---------- */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
html,
body {
    height: 100%;
    font-family: 'Titillium Web';
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    color: #383a4e;
}
/* ---------- Основные стили ---------- */
.container {
    max-width: 1140px;
    margin: 0 auto;
}
/* ---------- Навигационное меню ---------- */
.header {
    min-height: 596px;
    padding: 57px 0 145px 0;
    background-color: #87509c;
}
.nav_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_logo {
    margin: 0 0 0 60px;
}
.nav_menu {
    display: flex;
    justify-self: flex-end
}
.nav_item {
    margin: 0 11px 0 0;
}
.nav_item:last-child {
    margin: 0 28px 0 0;
}
.nav_link {
    padding: 10px 17px;
    font-size: 16px;
    font-weight: 400;
    line-height: calc(18 / 16 * 100%);
    text-transform: uppercase;
    color: #fff;
}
.nav_link:hover {
    padding: 10px 17px;
    border-radius: 4px;
    background-color: #643a79;
}
.header_title {
    max-width: 916px;
    margin: 0 auto;
    margin-top: 145px;
    padding: 0 5px 0 5px;
    font-size: 42px;
    line-height: calc(48 / 42 * 100%);
    font-weight: 700;
    color: #f7f3ea;
    text-align: center;
}
.header_btn {
    display: block;
    width: 293px;
    min-height: 70px;
    padding: 28px 80px;
    margin: 0 auto;
    margin-top: 54px;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 600;
    line-height: calc(26 / 18 * 100%);
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background-color: #eb7d4b;
}
@media (max-width:991px) {
    .nav_logo {
        margin: 0 0 0 30px;
    }
    .nav_item:last-child {
        margin: 0 13px 0 0;
    }
    .not-visible {
        display: none;
    }
    .header_title {
        padding: 0 30px;
    }
}
@media (max-width:650px) {
    .header {
        min-height: 400px;
        padding: 30px 0 100px 0;
    }
    .nav_logo {
        margin: 0 0 0 15px;
    }
    .header_title {
        margin-top: 55px;
        padding: 0 15px;
        font-size: 36px;
    }
    .nav_item {
        margin: 0 5px 0 0;
    }
    .nav_link {
        padding: 5px 10px;
    }
}
@media (max-width:515px) {
    .header {
        min-height: 400px;
        padding: 15px 0 50px 0;
    }
    .nav_body {
        flex-direction: column;
    }
    .nav_menu {
        margin-top: 15px;
        justify-content: center;
    }
    .nav_item {
        margin: 0;
    }
    .nav_link {
        padding: 5px 5px;
    }
    .nav_item:last-child {
        margin: 0;
    }
    .header_title {
        font-size: 30px;
    }
    .header_btn {
        width: 250px;
        padding: 28px 50px;
    }
}
/* ---------- Секция сервисов ---------- */
.services {
    min-height: 747px;
    padding: 119px 0 128px 0;
    background-color: #17c2a4;;
}
.services_body {
    max-width: 640px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
    text-align: center;
}
.services_title {
    font-size: 40px;
    line-height: calc(40 / 40 *100%);
    font-weight: 700;
    color: #ffffff;
}
.services_divider {
    width: 87px;
    height: 4px;
    margin: 0 auto;
    margin-top: 21px;
    opacity: 0.14;
    background-color: #000000;
}
.services_text {
    margin-top: 23px;
    font-family: 'Titillium Web';
    font-size: 18px;
    line-height: calc(26 / 18 * 100%);
    font-weight: 400;
    color: #ffffff;
}
.services_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    text-align: center;
}
.services_item {
    max-width: 230px;
    padding: 0 15px;
}
.services_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 124px;
}
.services_subtitle {
    margin-top: 60px;
    font-size: 24px;
    line-height: calc(24 / 24 *100%);
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}
.services_subtext {
    margin-top: 26px;
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);
    font-weight: 300;
    color: #ffffff;
}
@media (max-width:991px) {
    .services {
        min-height: 650px;
        padding: 50px 0 50px 0;
    }
    .services_title {
        font-size: 36px;
        line-height: calc(36 / 36 *100%);
    }
    .services_subtitle {
        font-size: 20px;
        line-height: calc(20 / 20 *100%);
    }
    .services_subtext {
        padding: 0 5px;
        font-size: 15px;
        line-height: calc(24 / 15 * 100%);
    }
}
@media (max-width:900px) {
    .services_wrapper {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .services_item {
        flex: 1 1 50%;
        margin: 0 36px 20px 36px;
    }
}
@media (max-width:767px) {
    .services_item {
        flex: 1 1 50%;
        margin: 0 20px 20px 20px;
    }
}
/* ---------- Секция команды ---------- */
.team {
    min-height: 914px;
    padding: 119px 0 127px 0;
    background-color: #e7f1f8;
}
.team_title {
    padding: 0 15px;
    font-size: 41px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    color: #3c4761;
}
.team_divider {
    width: 87px;
    height: 4px;
    margin: 0 auto;
    margin-top: 22px;
    opacity: 0.74;
    background-color: #bdd1df;
}
.team_text {
    margin-top: 23px;
    padding: 0 15px;
    font-size: 19px;
    line-height: 1;
    font-weight: 400;
    text-align: center;
    color: #3c4761;
}
.team_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 78px;
}
.team_item {
    max-width: 25%;
    padding: 0 40px 0 40px;
    text-align: center;
}
.team_item_icon {
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.team_item_icon img {
    width: 100%;
    border-radius: 100%;
}
.team_item_subtitle {
    margin-top: 41px;
    font-size: 24px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    color: #27283d;
}
.team_item_jobtitle {
    margin-top: 15px;
    font-size: 16px;
    line-height: calc(18 / 16 * 100%);
    font-weight: 400;
    color: #30bae7;
}
.team_item_text {
    margin-top: 26px;
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);
    font-weight: 300;
    color: #3c4761;
}
.team_item_social {
    margin-top: 31px;
}
.team_item_social *:not(:last-child) {
    margin-right: 12px;
}
.team_item_social a {
    display: inline-block;
    padding: 8px;
    border-radius: 100%;
    background-color: #bdd1df;
    font-size: 16px;
    color: #fff;
}
@media (max-width:1090px) {
    .team_item {
        padding: 0 20px 0 20px;
    }
    .team_item_icon {
        max-width: 150px;
    }
    .team_item_subtitle {
        font-size: 22px;
    }
    .team_item_text {
        font-size: 15px;
    }
    .team_item_social *:not(:last-child) {
        margin-right: 5px;
    }
}
@media (max-width: 780px) {
    .team {
        min-height: 700px;
        padding: 70px 0 70px 0;
    }
    .team_wrapper {
        flex-wrap: wrap;
    }
    .team_item {
        max-width: 50%;
        margin-bottom: 30px;
        padding: 0 30px 0 30px;
    }
}
@media (max-width: 575px) {
    .team {
        min-height: 500px;
        padding: 50px 0 px 0;
    }
    .team_title {
        font-size: 36px;
    }
    .team_text {
        font-size: 18px;
    }
    .team_wrapper {
        margin-top: 30px;
    }
    .team_item {
        max-width: 100%;
        margin-bottom: 30px;
        padding: 0 20px 0 20px;
    }
}
/* ---------- Секция навыков ---------- */
.skills {
    min-height: 655px;
    padding: 117px 0 122px 0;
    background-color: #fff;
}
.skills_title {
    font-size: 40px;
    line-height: calc(29 / 40 * 100%);
    font-weight: 700;
    color: #3c4761;
    text-align: center;
}
.skills_divider {
    width: 87px;
    height: 4px;
    margin: 0 auto;
    margin-top: 21px;
    padding: 0 15px;
    background-color: #dfe8ed;
}
.skills_text {
    margin-top: 23px;
    padding: 0 15px;
    font-size: 18px;
    line-height: calc(26 / 18 *100%);
    font-weight: 400;
    color: #3c4761;
    text-align: center;
}
.skills_wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 84px;
}
.skills_item {
    flex: 0 1 25%;
}
.skills_icon {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.skills_subtitle {
    margin-top: 32px;
    font-size: 24px;
    line-height: calc(18 / 24 * 100%);
    font-weight: 700;
    text-transform: uppercase;
    color: #3c4761;
    text-align: center;
}
@media (max-width: 780px) {
    .skills {
        min-height: 400px;
        padding: 50px 0 35px 0;
        background-color: #fff;
    }
    .skills_title {
        font-size: 36px;
    }
    .skills_wrapper {
        flex-wrap: wrap;
        margin-top: 35px;
    }
    .skills_item {
        flex: 0 1 50%;
        margin-bottom: 15px;
    }

}
@media (max-width: 575px) {
    .skills {
        min-height: 400px;
        padding: 35px 0 20px 0;
        background-color: #fff;
    }
    .skills_title {
        font-size: 30px;
    }
    .skills_wrapper {
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .skills_item {
        flex: 1 1 100%;
        margin-bottom: 15px;
    }
}